#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
            &kp KP_NUMBER_1 &kp KP_NUMBER_1 &kp KP_NUMBER_1 &kp KP_NUMBER_1
            &kp KP_NUMBER_1 &kp KP_NUMBER_1 &kp KP_NUMBER_1 &kp KP_NUMBER_1
            &kp KP_NUMBER_1 &kp KP_NUMBER_1 &kp KP_NUMBER_1 &kp KP_NUMBER_1
            &kp KP_NUMBER_1 &kp KP_NUMBER_1 &kp KP_NUMBER_1 &trans
            &kp KP_NUMBER_1 &kp KP_NUMBER_1 &kp KP_NUMBER_1 &trans
            &kp KP_NUMBER_1 &trans          &kp KP_NUMBER_1 &kp KP_NUMBER_1 
            >;
        };
    };
};
